# PusulamNet Environment Settings
DATABASE_URL=sqlite:///./pusulamnet.db
# Supabase PostgreSQL örneği:
# DATABASE_URL=postgresql://postgres:PAROLA@db.PROJE.supabase.co:5432/postgres?sslmode=require
# İleride PostgreSQL için örnek:
# DATABASE_URL=postgresql://user:password@localhost:5432/pusulamnet

SECRET_KEY=buraya-uzun-ve-rastgele-bir-gizli-anahtar-yazin
DEBUG=True
